{
  "presets": [
    [
      "@babel/env",
      {
        "targets": {
          "electron": "7.1"
        },
        "modules": false,
        "forceAllTransforms": true
      }
    ],
    "@babel/react"
  ]
}
